body {
  background-color: aliceblue;
  margin: 0 auto;
  height: 100%;
  font-family: monospace;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 20px;
  line-height: 0px;
  margin-bottom: 12px;
  margin-top: 12px;
}

h1 {
  padding-left: 10px;
  text-align: center;
  background-color:rgb(166, 187, 226);
}

h2 {
  margin: 0;
  text-align: center;
}

select {
  height: 22px;
  margin-right: 1px;
}

button {
  margin-left: 1px;
}

input {
  margin-bottom: 2px;
}

.status {
  height:24px;
  width:20%;
}

.opbutton {
  float: right;
  font-size: 9px;
  text-align: center;
}

.status-bars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 176px));
  grid-gap: 5px;
}

.item {
  min-height: 10px;
  padding-left: 5px;
}

.credit {
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 5px;
  padding-left: 5px;
}

.form {
  max-width: 176px;
  max-height: 10%;
  margin: auto;
  text-align: center;
  background: #A0C5E8;
  border-style: solid;
  border-color: black;
  padding: 8px;
}

.card-form {
  max-width: 360px;
  max-height: 60vh;
  margin: auto;
  margin-top: 8px;
  background: #A0C5E8;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  padding: 8px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.card-form::-webkit-scrollbar {
  display: none;
}